## 0-Libraries

In [1]:
from Functions.sql_functions import *

# 1- Creating the DataBase

## 1.1 Creating The Tables

In [2]:
sql1 = "DROP TABLE IF EXISTS Item"
sql_write(sql1)

sql2 = '''
  CREATE TABLE Item (
    Item_ID INTEGER NOT NULL PRIMARY KEY,
    Item_Name TEXT,
    Lot_Size INTEGER,
    Lead_Time INTEGER,
    Current_Inventory INTEGER,
    BOM_Level INTEGER
  );
'''
sql_write(sql2)

In [3]:
sql1 = "DROP TABLE IF EXISTS BOM"
sql_write(sql1)

sql2 = '''
  CREATE TABLE BOM (
    Item_ID INTEGER NOT NULL,
    Component_ID INTEGER NOT NULL,
    BOM_Multiplier INTEGER,
    PRIMARY KEY(Item_ID, Component_ID),
    FOREIGN KEY(Item_ID) REFERENCES Item(Item_ID),
    FOREIGN KEY(Component_ID) REFERENCES Item(Item_ID)
  );
'''
sql_write(sql2)

In [4]:
sql1 = "DROP TABLE IF EXISTS Period"
sql_write(sql1)

sql2 = '''
    CREATE TABLE Period (
        Period_ID INTEGER NOT NULL PRIMARY KEY,
        Date TEXT
    );
'''
sql_write(sql2)

In [5]:
sql1 = "DROP TABLE IF EXISTS Item_Period"
sql_write(sql1)

sql2 = '''
  CREATE TABLE Item_Period (
    Item_ID INTEGER NOT NULL,
    Period INTEGER NOT NULL,
    Gross_Requirement INTEGER,
    Scheduled_Receipt INTEGER,
    Projected_Inventory INTEGER,
    Net_Requirement INTEGER,
    Planned_Order_Receipt INTEGER,
    Planned_Order_Release INTEGER,
    PRIMARY KEY (Item_ID, Period),
    FOREIGN KEY(Item_ID) REFERENCES Item(Item_ID),
    FOREIGN KEY(Period) REFERENCES Period(Period_ID)
  );
'''
sql_write(sql2)

## 1.2- Filling the Tables

In [6]:
from Functions.table_data import excel_to_table

### 1.2.1- Inserting Data using excel files

In [7]:
empty_table('Item')
excel_to_table(ref='Data/Item_data.xlsx', table='Item')

In [8]:
empty_table('BOM')
excel_to_table(ref='Data/BOM_data.xlsx', table='BOM')

In [9]:
empty_table('Period')
excel_to_table(ref='Data/Period_data.xlsx', table='Period')

In [77]:
empty_table('Item_Period')
excel_to_table(ref='Data/Item_Period_data.xlsx', table='Item_Period')

### 1.2.2- Calculating BOM levels and materials

In [11]:
from Functions.mrp_sql_functions import sql_update_bom_levels

In [12]:
sql_update_bom_levels()